<section id="navbar">
    <div class="brand-logo-wrapper text-center">
      <img src="/assets/img/LogoBlancoSolintecWide.png" alt="Solintec Logo" id="brand-logo" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNavigationBar">
      <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" id="brand-link" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-content" aria-controls="navbar-content"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mx-auto" id="navbar-items"></ul>
        </div>
      </div>
    </nav>
  </section>
  